# ====================================
# Arquivos de Compilação e Temporários
# ====================================
*.o
*.cmake

# ====================================
# Arquivos Específicos
# ====================================
CMakeCache.txt

# ====================================
# Diretórios Específicos
# ====================================
CMakeFiles/
